.ListRegistry {
  display: flex;
  align-items: center;
  text-align: center;
}

.NavLink {
  list-style-type: none;
  text-decoration: none;
  color: rgb(9, 91, 172);
  font-size: 24px;
}

.NavLinkReg {
  list-style-type: none;
  text-decoration: none;
  color: rgb(9, 91, 172);
  padding-right: 50px;
  font-size: 24px;
}

.NavLinkReg:hover,
.NavLink:hover {
  color: rgb(248, 155, 68);
}

.ActiveNavLink {
  color: rgb(248, 155, 68);
}
