.HomePageInfo {
  padding: 50px;
}

.TitleMain {
  margin-bottom: 50px;
  text-align: center;
}

.TitleHistory {
  padding-left: 50px;
  text-align: center;
}

.TitleInfo {
  margin-bottom: 50px;
  text-align: justify;
}

.TitleReg {
  text-align: center;
}
